@{
    Layout = null;
}

<html lang="en">
<!DOCTYPE html>
<head>
    <title>Examen Online</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>


    <link href="~/CSS/Iniciostyle.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a><img src="~/Imagenes/Amor a Sofia.jpg" width="50" height="50" /> Sabiduría </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/Index">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Examenes</a>
                </li>


                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </ul>
            <ul>
                <a href="~/Login/RegistrarUsuario" class="btn btn-outline-primary my-2 my-sm-0">Regístrate</a>
                <a href="~/Login/Index" class="btn btn-outline-primary my-2 my-sm-0">Iniciar Sesión</a>
            </ul>
        </div>

    </nav>




    <div class="notice-streamer" style="background-image:url(../../Imagenes/fondoPagina.jpg); height:500px">

        <img />
        <div class="carousel-fullscreen-sidebar" style="padding-left:50px">
            <div class="notice-streamer__content">
                <div class="notice-streamer__headline">

                    9,99&nbsp;$ Oferta del Black Friday

                </div>

                <div class="notice-streamer__text">


                    ¡Ya están disponibles las rebajas! Echa un vistazo a miles de examenes a partir de 9,99 $ cada uno.

                </div>
            </div>
        </div>

    </div>

    <div class=" how-udemy-works-container">
        <img />
        <div class="how-udemy-works carousel-fullscreen-sidebar" data-purpose="how-udemy-works">
            <div class="how-udemy-works__col fx-lt">
                <span class="how-udemy-works__icon udi udi-signup_temp"></span>
                <div class="how-udemy-works__text">
                    <b>80.000 cursos en línea</b>
                    <div class="how-udemy-works__sub-title">
                        Explora una amplia variedad de temas de actualidad
                    </div>
                </div>
            </div>

            <div class="how-udemy-works__col fx-ct">
                <span class="how-udemy-works__icon udi udi-right_talk"></span>
                <div class="how-udemy-works__text">
                    <b>Instructores expertos</b>
                    <div class="how-udemy-works__sub-title">
                        Encuentra el instructor adecuado para ti
                    </div>
                </div>
            </div>

            <div class="how-udemy-works__col fx-rt">
                <span class="how-udemy-works__icon udi udi-timeless"></span>
                <div class="how-udemy-works__text">
                    <b>Acceso de por vida</b>
                    <div class="how-udemy-works__sub-title">
                        Aprende a tu ritmo
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>





